<h1>Welcome to Libre, the perfect place to borrow books!</h1>
<div class="container" [ngClass]="{'active': guiState.showSignup}">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-container">
        <input type="email" name="login-email" id="login-email" required="required" [(ngModel)]="formData.loginForm.email" [ngClass]="{'empty': isModelEmpty(formData.loginForm.email)}"/>
        <label for="login-email">Email*</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input *ngIf="!guiState.showLoginPwd" type="password" name="login-password" required="required" [(ngModel)]="formData.loginForm.pwd" [ngClass]="{'empty': isModelEmpty(formData.loginForm.pwd)}"/>
        <input *ngIf="guiState.showLoginPwd" type="text" name="login-password" required="required" [(ngModel)]="formData.loginForm.pwd" [ngClass]="{'empty': isModelEmpty(formData.loginForm.pwd)}"/>
        <div *ngIf="formData.loginForm.pwd.length > 0" class="glimpse" (mouseenter)="toggleShowLoginPwd(true, $event)" (mouseleave)="toggleShowLoginPwd(false, $event)">
          <i *ngIf="!guiState.showLoginPwd" class="fa fa-eye-slash"></i>
          <i *ngIf="guiState.showLoginPwd" class="fa fa-eye"></i>
        </div>
        <label for="login-password">Password*</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button (click)="debugForm()"><span>Go</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle" (click)="toggleSignupGui(true)" [ngClass]="{'hidePointer': guiState.showSignup}"></div>
    <h1 class="title">Register
      <div class="close" (click)="toggleSignupGui(false)"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="email" name="register-email" id="register-email" required="required" [(ngModel)]="formData.signupForm.email" [ngClass]="{'empty': isModelEmpty(formData.signupForm.email)}"/>
        <label for="register-email">Email*</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="register-password" required="required"/>
        <label for="register-password">Password*</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="register-repeat-password" required="required"/>
        <label for="register-repeat-password">Repeat Password*</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>
